@font-face {
  font-family: "AG-Super";
  src: url("../fonts/AkzidenzGrotesk-Super.otf") format("truetype");
}
.burger {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: fixed;
  transition: top 0.5s;
  z-index: 100;
}
.navbar .wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: #212121;
}
.navbar .burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
  right: 5%;
}
.navbar .burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  background: #fff;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar .burger-line:nth-child(1) {
  top: 0;
  height: 6px;
}
.navbar .burger-line:nth-child(2), .navbar .burger-line:nth-child(3) {
  top: 0.7rem;
  height: 4px;
}
.navbar .burger-line:nth-child(4) {
  top: 1.3rem;
  height: 2px;
}
.navbar .burger.is-active .burger-line:nth-child(1), .navbar .burger.is-active .burger-line:nth-child(4) {
  width: 0%;
  left: 50%;
}
.navbar .burger.is-active .burger-line:nth-child(2) {
  transform: rotate(45deg);
}
.navbar .burger.is-active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar .menu {
  padding-right: 2rem;
}
.navbar .menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #212121;
}
.navbar .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  border: none;
  color: var(--color-black);
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease-in-out;
}
.navbar__brand {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.navbar__brand img {
  transition: transform 0.3s ease;
}
.navbar__brand img:hover {
  transform: scale(1.1);
  filter: contrast(0.6);
}
.navbar__brand--xdata {
  height: 45px;
  margin-right: 1.8rem;
}
.navbar__brand--reinserta {
  height: 60px;
}
.navbar .menu-link img {
  width: 32px;
  transition: transform 0.3s ease;
}
.navbar .menu-link img:hover {
  transform: scale(1.1);
  filter: contrast(0.6);
}
.navbar hr {
  height: 50px;
  color: #fff;
  border-width: 0.5px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    height: 70px;
    padding: 0;
  }
  .navbar__brand {
    padding: 0 5%;
    position: absolute;
    display: flex;
    align-items: center;
  }
  .navbar__brand--xdata {
    height: 50px;
    margin-right: 8px;
  }
  .navbar__brand--reinserta {
    height: 65px;
  }
  .navbar .wrapper {
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
  }
  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease;
    margin-top: 60px;
  }
  .navbar .menu.is-active {
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 2rem 10%;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

.lineas__mobile {
  position: relative;
  width: 100%;
}

.lineas__desk {
  display: none;
}

.section1 {
  min-height: 100vh;
  background-image: url(../img/header-lineas-mob-1x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  max-height: 900px;
  background-color: #f3f0ec;
  padding: 35% 5% 0;
}
.section1 h1 {
  font-family: "AG-Super";
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
}

@media only screen and (min-width: 768px) {
  .section1 {
    max-height: calc(100vh - 70px);
    overflow: hidden;
    background-image: url(../img/header-lineas-desk-3x.png);
    background-size: 30%;
    padding: 3% 5% 0 35%;
  }
  .section1 h1 {
    text-align: left;
    font-size: 3.4rem;
    max-width: 600px;
  }
  .lineas__mobile {
    display: none;
  }
  .lineas__desk {
    width: 32%;
  }
}
.section1__titulo {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
.section1__titulo:before,
.section1__titulo:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.section1__titulo:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
.section1__titulo:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
body {
  background-color: #f3f0ec;
  height: 200vh;
}

main {
  padding-top: 80px;
  background-color: #212121;
}

/*# sourceMappingURL=styles.css.map */
