@font-face {
  font-family: "AG-Super";
  src: url("../fonts/AkzidenzGrotesk-Super.otf") format("truetype");
}
@font-face {
  font-family: "AG-Bold";
  src: url("../fonts/AkzidenzGrotesk-Bold.otf") format("truetype");
}
@font-face {
  font-family: "AG-Regular";
  src: url("../fonts/AkzidenzGrotesk-Regular.otf") format("truetype");
}
@font-face {
  font-family: "AG-Medium";
  src: url("../fonts/AkzidenzGrotesk-Medium.otf") format("truetype");
  font-weight: 500;
}
.burger {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: fixed;
  transition: top 0.5s;
  z-index: 100;
}
.navbar .wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: #212121;
}
.navbar .burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
  right: 5%;
}
.navbar .burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  background: #fff;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar .burger-line:nth-child(1) {
  top: 0;
  height: 6px;
}
.navbar .burger-line:nth-child(2), .navbar .burger-line:nth-child(3) {
  top: 0.7rem;
  height: 4px;
}
.navbar .burger-line:nth-child(4) {
  top: 1.3rem;
  height: 2px;
}
.navbar .burger.is-active .burger-line:nth-child(1), .navbar .burger.is-active .burger-line:nth-child(4) {
  width: 0%;
  left: 50%;
}
.navbar .burger.is-active .burger-line:nth-child(2) {
  transform: rotate(45deg);
}
.navbar .burger.is-active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar .menu {
  padding-right: 2rem;
}
.navbar .menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #212121;
}
.navbar .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  border: none;
  color: var(--color-black);
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease-in-out;
}
.navbar__brand {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.navbar__brand img {
  transition: transform 0.3s ease;
}
.navbar__brand img:hover {
  transform: scale(1.1);
  filter: contrast(0.6);
}
.navbar__brand--xdata {
  height: 45px;
  margin-right: 1.8rem;
}
.navbar__brand--reinserta {
  height: 60px;
}
.navbar .menu-link img {
  width: 32px;
  transition: transform 0.3s ease;
}
.navbar .menu-link img:hover {
  transform: scale(1.1);
  filter: contrast(0.6);
}
.navbar hr {
  height: 50px;
  color: #fff;
  border-width: 0.5px;
}

@media only screen and (max-width: 992px) {
  .navbar {
    height: 70px;
    padding: 0;
  }
  .navbar__brand {
    padding: 0 5%;
    position: absolute;
    display: flex;
    align-items: center;
  }
  .navbar__brand--xdata {
    height: 50px;
    margin-right: 8px;
  }
  .navbar__brand--reinserta {
    height: 65px;
  }
  .navbar .wrapper {
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
  }
  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease;
    margin-top: 60px;
  }
  .navbar .menu.is-active {
    opacity: 1;
    visibility: visible;
  }
  .navbar .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 2rem 10%;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

.lineas__mobile {
  position: relative;
  width: 100%;
}

.lineas__desk {
  display: none;
}

.section1 {
  min-height: 95vh;
  max-height: 900px;
  background-color: #f3f0ec;
  padding: 0;
}
.section1__lineas {
  height: 15vh;
  background-image: url(../img/header-lineas-mob-1x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -2rem;
}
.section1__container {
  height: 72vh;
  padding: 5% 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1rem;
  align-content: center;
}
.section1__titulo {
  font-family: "AG-Super";
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}
.section1__titulo--desk {
  display: none;
}
.section1__subtitulo {
  font-family: "AG-Super";
  font-weight: lighter;
  text-align: center;
  margin-top: 4px;
  font-size: 1.2rem;
}
.section1__p {
  font-family: "Ag-Regular";
  text-align: center;
  line-height: 1.3;
  font-size: 0.81rem;
}
.section1__p--bold {
  color: #212121;
}
.section1__entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  font-family: "Ag-Bold";
  color: #212121;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.2s ease;
  font-size: 0.91rem;
}
.section1__entrar:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 12px;
  transform: scale(0.95);
}
.section1__small {
  font-family: "Ag-Regular";
  font-size: 0.71rem;
  text-align: center;
  line-height: 1.4;
  color: #686868;
}

@media only screen and (min-width: 576px) {
  .section1 {
    background-image: none;
    padding: 0;
  }
  .section1__lineas {
    height: 20vh;
  }
  .section1__container {
    padding: 5% 10%;
    row-gap: 0;
  }
  .section1__p {
    font-size: 0.91rem;
  }
  .section1__small {
    max-width: 400px;
  }
}
@media only screen and (min-width: 576px) and (orientation: landscape) {
  .section1 {
    background-image: none;
    padding: 0;
  }
  .section1__container {
    padding: 5% 10%;
    row-gap: 1rem;
    height: max-content;
  }
  .section1__p {
    font-size: 0.91rem;
  }
  .section1__small {
    max-width: 600px;
  }
}
@media only screen and (min-width: 768px) {
  .section1 {
    padding: 0;
  }
  .section1__titulo {
    text-align: center;
    font-size: 2.8rem;
  }
  .section1__p {
    font-size: 0.975rem;
  }
  .section1__lineas {
    height: 20vh;
  }
  .section1__container {
    padding: 0 10%;
    padding-top: 2rem;
    height: max-content;
    row-gap: 2rem;
  }
  .section1__small {
    padding: 0 10%;
    max-width: 700px;
    font-size: 0.81rem;
  }
  .section1__entrar {
    width: 80px;
    height: 80px;
    font-size: 0.975rem;
  }
}
@media only screen and (min-width: 992px) {
  .section1 {
    min-height: 740px;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .section1__lineas {
    background-image: url("../img/lineas-desk-3x.png");
    height: 100%;
    background-position: 50% 50%;
    background-repeat: repeat;
    margin: 0;
  }
  .section1__container {
    padding: 10% 20% 10% 10%;
    align-items: flex-start;
    height: 100%;
  }
  .section1__titulo {
    text-align: left;
  }
  .section1__titulo--mob {
    display: none;
  }
  .section1__titulo--desk {
    display: block;
  }
  .section1__subtitulo {
    text-align: left;
    margin-top: 6px;
    max-width: 400px;
  }
  .section1__p {
    text-align: left;
  }
  .section1__small {
    text-align: left;
    padding: 0;
    max-width: 600px;
    font-size: 0.81rem;
  }
  .section1__entrar {
    width: 70px;
    height: 70px;
    font-size: 0.91rem;
  }
  .lineas__mobile {
    display: none;
  }
  .lineas__desk {
    width: 32%;
  }
}
@media only screen and (min-width: 1400px) {
  .section1__titulo {
    font-size: 3rem;
  }
  .section1__subtitulo {
    font-size: 1.6rem;
    line-height: 33px;
  }
  .section1__entrar {
    width: 80px;
    height: 80px;
    font-size: 0.975rem;
  }
  .section1__p {
    font-size: 1rem;
  }
  .section1__small {
    max-width: 700px;
    font-size: 0.91rem;
  }
}
.hero {
  line-height: 1;
  z-index: 2;
}

.demo {
  height: 100px;
  background: #fff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(0% 12%, 53% 12%, 53% 26%, 25% 26%, 25% 86%, 31% 86%, 31% 0%, 53% 0%, 53% 84%, 92% 84%, 92% 82%, 70% 82%, 70% 29%, 78% 29%, 78% 65%, 69% 65%, 69% 66%, 77% 66%, 77% 45%, 85% 45%, 85% 26%, 97% 26%, 97% 28%, 84% 28%, 84% 34%, 54% 34%, 54% 89%, 30% 89%, 30% 58%, 83% 58%, 83% 5%, 68% 5%, 68% 36%, 62% 36%, 62% 1%, 12% 1%, 12% 34%, 60% 34%, 60% 57%, 98% 57%, 98% 83%, 1% 83%, 1% 53%, 91% 53%, 91% 84%, 8% 84%, 8% 83%, 4% 83%);
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
  }
  5% {
    clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
  }
  30% {
    clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
  }
  45% {
    clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
  }
  76% {
    clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
  }
  90% {
    clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    clip-path: none;
  }
}
.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}
.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    opacity: 0;
  }
}
.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}
.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
  position: relative;
  padding: 200px 0;
  text-align: center;
}

.environment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  filter: blur(5px);
  background: url(https://images.unsplash.com/photo-1602136773736-34d445b989cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80) center no-repeat;
  background-size: cover;
}

.section2 {
  height: 90vh;
}
.section2__quienesSomos--titulo {
  color: #f3f0ec;
  text-align: center;
}
.section2__quienesSomos--empresa {
  margin: 8% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quienesSomos__empresa--logo {
  background-color: #f3f0ec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: 1.5rem;
}
.quienesSomos__empresa--logo:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #e8e8e8;
  position: absolute;
  top: 108%;
}
.quienesSomos__empresa--logo img {
  height: 50%;
}
.quienesSomos__empresa--p {
  color: #f3f0ec;
  text-align: center;
  font-size: 0.81rem;
  line-height: 1.3;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (min-width: 576px) {
  .quienesSomos__empresa--p {
    font-size: 0.91rem;
  }
}
@media only screen and (min-width: 576px) and (orientation: landscape) {
  .section2 {
    height: max-content;
  }
  .quienesSomos__empresa--p {
    font-size: 0.91rem;
  }
}
@media only screen and (min-width: 776px) {
  .quienesSomos__empresa--logo {
    width: 110px;
    height: 110px;
    margin-bottom: 2rem;
  }
  .quienesSomos__empresa--logo:after {
    border-left: 6px solid transparent;
    border-right: 6x solid transparent;
    border-top: 10px solid #e8e8e8;
  }
}
@media only screen and (min-width: 992px) {
  .section2 {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 600px;
    height: calc(90vh - 70px);
  }
  .section2__quienesSomos {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
  .section2__quienesSomos--empresa {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .section2__quienesSomos--titulo {
    margin-bottom: 5%;
  }
  .quienesSomos__empresa--p {
    font-size: 0.91rem;
    text-align: left;
  }
  .quienesSomos__empresa--logo {
    width: 90px;
    height: 90px;
    margin-bottom: 0;
  }
  .quienesSomos__empresa--logo:after {
    top: 50%;
    left: 108%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #e8e8e8;
  }
  .reveal {
    position: relative;
    transform: translateX(-250px);
    opacity: 0;
    transition: 1.5s all ease;
  }
  .reveal.active {
    transform: translateX(0);
    opacity: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .section2 {
    grid-template-columns: 45% 55%;
  }
  .quienesSomos__empresa--logo {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 1400px) {
  .quienesSomos__empresa--logo {
    width: 120px;
    height: 120px;
  }
  .quienesSomos__empresa--p {
    font-size: 1rem;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 1600px) {
  .section2 {
    grid-template-columns: 40% 60%;
  }
  .quienesSomos__empresa--logo {
    width: 120px;
    height: 120px;
    margin-right: 4rem;
  }
  .quienesSomos__empresa--p {
    font-size: 1rem;
    line-height: 1.4;
  }
}
body {
  background-color: #f3f0ec;
  height: 200vh;
  scroll-behavior: smooth;
}

main {
  padding-top: 80px;
  background-color: #212121;
}

.section__titulo {
  font-family: "Ag-Medium", sans-serif;
}

.myContainer {
  padding: 5% 8%;
}

p {
  font-family: "Ag-Regular", sans-serif;
}

.section__p--bold {
  font-family: "Ag-Bold", sans-serif;
  transform: all 0.3s ease;
}
.section__p--bold__a:hover {
  text-decoration: underline;
}

.quienesSomos__empresa--p__bold--a {
  color: #f3f0ec;
}

@media (min-width: 576px) {
  .myContainer {
    padding: 5% 15%;
  }
  p {
    font-size: 0.91rem;
  }
}
@media (min-width: 768px) {
  .section__titulo {
    font-size: 1.5rem;
  }
  .myContainer {
    padding: 5% 10%;
  }
}
@media (min-width: 992px) {
  .myContainer {
    padding: 10%;
  }
}
@media (min-width: 1600px) {
  .myContainer {
    padding: 10% 15%;
  }
}

/*# sourceMappingURL=styles.css.map */
